Certification Requirements
1
. 
Attend equipment in-services.
2
. 
Maintain knowledge of the indications, contra-indications, technique, and possible complications of the procedure. Assessment of this
knowledge may be accomplished via quality assurance mechanisms, classroom demonstrations, skills stations, or other mechanisms as deemed
appropriate by Toledo Fire & Rescue Department.
 
Certification Requirements
254
